<%= form_for @bracket do |f| %>
	<% allTeams = Team.all %>
	<div class="col-md-offset-10 col-md-2 right">
		<%= f.submit "Save Bracket", class: 'btn btn-success' %>
	</div>
	<div class='bracketcontainer container'>
		<div class='bracket-column' id="Round16-1">
			<p class='column-title'>Round of 16</p>
			<div class="well bracket well-sm">
					<p class="bracket-text"> Game 49</p>
					<%= f.collection_select :a1, Team.where(group: 'A'), :id, :name, {:prompt=> 'Group A 1st'}, {class: 'notselected',:onchange=>"javascript: updateOptionsR16('a1','a2','w49')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<br/>
				<%= f.collection_select :b2, Team.where(group: 'B'), :id, :name, {:prompt=> 'Group B 2nd'}, {class: 'notselected',:onchange=>"javascript: updateOptionsR16('b2','b1','w49')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
			</div>
			<div class="well bracket well-sm">
				<p class="bracket-text"> Game 50</p>
					<%= f.collection_select :c1, Team.where(group: 'C'), :id, :name, {:prompt=> 'Group C 1st'}, {class: 'notselected',:onchange=>"javascript: updateOptionsR16('c1','c2','w50')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<br/>
				<%= f.collection_select :d2, Team.where(group: 'D'), :id, :name, {:prompt=> 'Group D 2nd'}, {class: 'notselected',:onchange=>"javascript: updateOptionsR16('d2','d1','w50')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
			</div>
			<div class="well bracket well-sm">
				<p class="bracket-text"> Game 53</p>
					<%= f.collection_select :e1, Team.where(group: 'E'), :id, :name, {:prompt=> 'Group E 1st'}, {class: 'notselected',:onchange=>"javascript: updateOptionsR16('e1','e2','w53')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<br/>
				<%= f.collection_select :f2, Team.where(group: 'F'), :id, :name, {:prompt=> 'Group F 2nd'}, {class: 'notselected',:onchange=>"javascript: updateOptionsR16('f2','f1','w53')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
			</div>
			<div class="well bracket well-sm">
				<p class="bracket-text"> Game 54</p>
					<%= f.collection_select :g1, Team.where(group: 'G'), :id, :name, {:prompt=> 'Group G 1st'}, {class: 'notselected',:onchange=>"javascript: updateOptionsR16('g1','g2','w54')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<br/>
				<%= f.collection_select :h2, Team.where(group: 'H'), :id, :name, {:prompt=> 'Group H 2nd'}, {class: 'notselected',:onchange=>"javascript: updateOptionsR16('h2','h1','w54')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
			</div>
		</div>
		<div class='bracket-column qf' id="Quater-finals-1">
			<p class='column-title'>Quarter-Finals</p>
			<div class="bracket bracket-qf well well-sm">
				<p class="bracket-text"> Game 57</p>
					<%= f.collection_select :w49, allTeams, :id, :name, {:prompt=> 'Winner Game 49'}, {class: 'notselected',:onchange=>"javascript: updateOptionsQF('w49','w57')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<input id='w49-old' type="hidden" value="0"/>
				<br/>
				<%= f.collection_select :w50, allTeams, :id, :name, {:prompt=> 'Winner Game 50'}, {class: 'notselected',:onchange=>"javascript: updateOptionsQF('w50', 'w57')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<input id='w50-old' type="hidden" value="0"/>
			</div>
			<div class="well bracket bracket-qf well-sm">
				<p class="bracket-text"> Game 58</p>
					<%= f.collection_select :w53, allTeams, :id, :name, {:prompt=> 'Winner Game 53'}, {class: 'notselected',:onchange=>"javascript: updateOptionsQF('w53','w58')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<input id='w53-old' type="hidden" value="0"/>
				<br/>
				<%= f.collection_select :w54, allTeams, :id, :name, {:prompt=> 'Winner Game 54'}, {class: 'notselected',:onchange=>"javascript: updateOptionsQF('w54','w58')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<input id='w54-old' type="hidden" value="0"/>
			</div>
		</div>
		<div class='bracket-column sf' id="Semi-finals-1">
			<p class='column-title'>Semi-Finals</p>
			<div class="well bracket bracket-sf well-sm">
				<p class="bracket-text"> Game 61</p>
					<%= f.collection_select :w57, allTeams, :id, :name, {:prompt=> 'Winner Game 57'}, {class: 'notselected',:onchange=>"javascript: updateOptionsSF('w57','61')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<input id='w57-old' type="hidden" value="0"/>
				<br/>
				<%= f.collection_select :w58, allTeams, :id, :name, {:prompt=> 'Winner Game 58'}, {class: 'notselected',:onchange=>"javascript: updateOptionsSF('w58','61')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<input id='w58-old' type="hidden" value="0"/>
			</div>
		</div>
		<div class='bracket-column' id="Finals">
			<p class='column-title'>Final and<br/>Thrid Place</p>
			<%= f.collection_select :champion, allTeams, :id, :name, {:prompt=> 'Champion'}, {class: 'notselected champion',:onchange=>"javascript: changeFinals('champion')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
			<br/>
			<div class="well bracket well-sm">
				<p class="bracket-text"> Third Place</p>
					<%= f.collection_select :third, allTeams, :id, :name, {:prompt=> 'Third Place'}, {class: 'notselected ', :onchange=>"javascript: changeFinals('third')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
			</div>
			<div class="well bracket well-sm">
				<p class="bracket-text"> Final</p>
					<%= f.collection_select :w61, allTeams, :id, :name, {:prompt=> 'Winner Game 61'}, {class: 'notselected',:onchange=>"javascript: updateOptionsFinals('w61','l61','champion')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<input id='w61-old' type="hidden" value="0"/>
				<br/>
				<%= f.collection_select :w62, allTeams, :id, :name, {:prompt=> 'Winner Game 62'}, {class: 'notselected',:onchange=>"javascript: updateOptionsFinals('w62','l62','champion')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<input id='w62-old' type="hidden" value="0"/>
			</div>
			<div class="well bracket well-sm">
				<p class="bracket-text">Third Place Game</p>
					<%= f.collection_select :l61, allTeams, :id, :name, {:prompt=> 'L61'}, {class: 'notselected',:onchange=>"javascript: updateOptionsFinals('l61','w61','third')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<input id='l61-old' type="hidden" value="0"/>
				<br/>
				<%= f.collection_select :l62, allTeams, :id, :name, {:prompt=> 'L62'}, {class: 'notselected',:onchange=>"javascript: updateOptionsFinals('l62','w62','third')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<input id='l62-old' type="hidden" value="0"/>
			</div>
		</div>
		<div class='bracket-column' id="Semi-finals-2">
			<p class='column-title'>Semi-finals</p>
			<div class="well bracket bracket-sf well-sm">
				<p class="bracket-text"> Game 62</p>
					<%= f.collection_select :w59, allTeams, :id, :name, {:prompt=> 'Winner Game 59'}, {class: 'notselected',:onchange=>"javascript: updateOptionsSF('w59','62')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<input id='w59-old' type="hidden" value="0"/>
				<br/>
				<%= f.collection_select :w60, allTeams, :id, :name, {:prompt=> 'Winner Game 60'}, {class: 'notselected',:onchange=>"javascript: updateOptionsSF('w60', '62')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<input id='w60-old' type="hidden" value="0"/>
			</div>
		</div>
		<div class='bracket-column qf' id="Quater-finals-2">
			<p class='column-title'>Quarter-finals</p>
			<div class="well bracket bracket-qf well-sm">
				<p class="bracket-text"> Game 59</p>
					<%= f.collection_select :w51, allTeams, :id, :name, {:prompt=> 'Winner Game 51'}, {class: 'notselected',:onchange=>"javascript: updateOptionsQF('w51','w59')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<input id='w51-old' type="hidden" value="0"/>
				<br/>
				<%= f.collection_select :w52, allTeams, :id, :name, {:prompt=> 'Winner Game 52'}, {class: 'notselected',:onchange=>"javascript: updateOptionsQF('w52','w59')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<input id='w52-old' type="hidden" value="0"/>
			</div>
			<div class="well bracket bracket-qf well-sm">
				<p class="bracket-text"> Game 60</p>
					<%= f.collection_select :w55, allTeams, :id, :name, {:prompt=> 'Winner Game 55'}, {class: 'notselected',:onchange=>"javascript: updateOptionsQF('w55','w60')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<input id='w55-old' type="hidden" value="0"/>
				<br/>
				<%= f.collection_select :w56, allTeams, :id, :name, {:prompt=> 'Winner Game 56'}, {class: 'notselected',:onchange=>"javascript: updateOptionsQF('w56','w60')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<input id='w56-old' type="hidden" value="0"/>
			</div>
		</div>
		<div class='bracket-column' id="Round16-2">
			<p class='column-title'>Round of 16</p>
			<div class="well bracket well-sm">
				<p class="bracket-text"> Game 51</p>
					<%= f.collection_select :b1, Team.where(group: 'B'), :id, :name, {:prompt=> 'Group B 1st'}, {class: 'notselected',:onchange=>"javascript: updateOptionsR16('b1','b2','w51')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<br/>
				<%= f.collection_select :a2, Team.where(group: 'A'), :id, :name, {:prompt=> 'Group A 2nd'}, {class: 'notselected',:onchange=>"javascript: updateOptionsR16('a2','a1','w51')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
			</div>
			<div class="well bracket well-sm">
				<p class="bracket-text"> Game 52</p>
					<%= f.collection_select :d1, Team.where(group: 'D'), :id, :name, {:prompt=> 'Group D 1st'}, {class: 'notselected',:onchange=>"javascript: updateOptionsR16('d1','d2','w52')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<br/>
				<%= f.collection_select :c2, Team.where(group: 'C'), :id, :name, {:prompt=> 'Group C 2nd'}, {class: 'notselected',:onchange=>"javascript: updateOptionsR16('c2','c1','w52')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
			</div>
			
			<div class="well bracket well-sm">
				<p class="bracket-text"> Game 55</p>
					<%= f.collection_select :f1, Team.where(group: 'F'), :id, :name, {:prompt=> 'Group F 1st'}, {class: 'notselected',:onchange=>"javascript: updateOptionsR16('f1','f2','w55')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<br/>
				<%= f.collection_select :e2, Team.where(group: 'E'), :id, :name, {:prompt=> 'Group E 2nd'}, {class: 'notselected',:onchange=>"javascript: updateOptionsR16('e2','e1','w55')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
			</div>
			<div class="well bracket well-sm">
				<p class="bracket-text"> Game 56</p>
					<%= f.collection_select :h1, Team.where(group: 'H'), :id, :name, {:prompt=> 'Group H 1st'}, {class: 'notselected',:onchange=>"javascript: updateOptionsR16('h1','h2','w56')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				<br/>
				<%= f.collection_select :g2, Team.where(group: 'G'), :id, :name, {:prompt=> 'Group G 2nd'}, {class: 'notselected',:onchange=>"javascript: updateOptionsR16('g2','g1','w56')"} do |cb| %>
					<% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
<script>
	$(document).ready(function(){

		//hide teams for wGames
		for (var i = 49; i<63; i++)
			hideTeamsW(i);

		//check if R16 are selected
			fixR16Games();

			fixWGames();

		for (var i = 61; i<63; i++)
			for(var t = 1; t<33; t++){
				$("#bracket_l"+i.toString()+" option[value="+t.toString()+"]").hide();
				$("#bracket_l"+i.toString()+" option[value="+t.toString()+"]").wrap('<span style="display:none;" />');
			};
		for(var t = 1; t<33; t++){
				$("#bracket_third option[value="+t.toString()+"]").hide();
				$("#bracket_third option[value="+t.toString()+"]").wrap('<span style="display:none;" />');
			};
		for(var t = 1; t<33; t++){
				$("#bracket_champion option[value="+t.toString()+"]").hide();
				$("#bracket_champion option[value="+t.toString()+"]").wrap('<span style="display:none;" />');
			};
	});
</script>