	<div class='bracketcontainer container'>
		<div class='bracket-column' id="Round16-1">
			<p class='column-title'>Round of 16</p>
			<div class="well bracket well-sm bracket-text">
					<p> Game 49</p><br/>
					<%= @allTeams[@bracket.a1-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.b2-1].name %>
			</div>	
			<div class="well bracket well-sm bracket-text">
					<p> Game 50</p><br/>
					<%= @allTeams[@bracket.c1-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.d2-1].name %>
			</div>	
			<div class="well bracket well-sm bracket-text">
					<p> Game 53</p><br/>
					<%= @allTeams[@bracket.e1-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.f2-1].name %>
			</div>	
			<div class="well bracket well-sm bracket-text">
					<p> Game 54</p><br/>
					<%= @allTeams[@bracket.g1-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.h2-1].name %>
			</div>	
		</div>
		<div class='bracket-column qf' id="Quater-finals-1">
			<p class='column-title'>Quarter-Finals</p>
			<div class="bracket bracket-qf well well-sm bracket-text">
					<p> Game 57</p><br/>
					<%= @allTeams[@bracket.w49-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.w50-1].name %>
			</div>
			<div class="bracket bracket-qf well well-sm bracket-text">
					<p> Game 58</p><br/>
					<%= @allTeams[@bracket.w53-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.w54-1].name %>
			</div>
		</div>
		<div class='bracket-column sf' id="Semi-finals-1">
			<p class='column-title'>Semi-Finals</p>
			<div class="well bracket bracket-sf well-sm bracket-text">
					<p> Game 61</p><br/>
					<%= @allTeams[@bracket.w57-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.w58-1].name %>
			</div>
		</div>
		<div class='bracket-column' id="Finals">
			<p class='column-title'>Final and<br/>Thrid Place</p>
			<h4>Champion:</h4>
			<%= @allTeams[@bracket.champion-1].name %>
			<div class="well bracket well-sm bracket-text">
					<p> Third Place</p><br/>
					<%= @allTeams[@bracket.third-1].name %>
			</div>
			<div class="well bracket well-sm bracket-text">
					<p>Final</p><br/>
					<%= @allTeams[@bracket.w61-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.w62-1].name %>
			</div>
			<div class="well bracket  well-sm bracket-text">
					<p>Third Place</p><br/>
					<%= @allTeams[@bracket.l61-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.l62-1].name %>
			</div>
		</div>
		<div class='bracket-column sf' id="Semi-finals-2">
			<p class='column-title'>Semi-Finals</p>
			<div class="well bracket bracket-sf well-sm bracket-text">
					<p> Game 62</p><br/>
					<%= @allTeams[@bracket.w59-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.w60-1].name %>
			</div>
		</div>
		<div class='bracket-column qf' id="Quater-finals-2">
			<p class='column-title'>Quarter-Finals</p>
			<div class="bracket bracket-qf well well-sm bracket-text">
					<p> Game 59</p><br/>
					<%= @allTeams[@bracket.w51-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.w52-1].name %>
			</div>
			<div class="bracket bracket-qf well well-sm bracket-text">
					<p> Game 60</p><br/>
					<%= @allTeams[@bracket.w55-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.w56-1].name %>
			</div>
		</div>
		<div class='bracket-column' id="Round16-2">
			<p class='column-title'>Round of 16</p>
			<div class="well bracket well-sm bracket-text">
					<p> Game 51</p><br/>
					<%= @allTeams[@bracket.b1-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.a2-1].name %>
			</div>	
			<div class="well bracket well-sm bracket-text">
					<p> Game 52</p><br/>
					<%= @allTeams[@bracket.d1-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.c2-1].name %>
			</div>	
			<div class="well bracket well-sm bracket-text">
					<p> Game 52</p><br/>
					<%= @allTeams[@bracket.f1-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.e2-1].name %>
			</div>	
			<div class="well bracket well-sm bracket-text">
					<p> Game 54</p><br/>
					<%= @allTeams[@bracket.h1-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.g2-1].name %>
			</div>	
		</div>
	</div>





