	<div class='bracketcontainer container'>
		<div class='bracket-column' id="Round16-1">
			<p class='column-title'>Round of 16</p>
			<div class="well bracket well-sm bracket-text">
					<p> 1A vs 2B</p>
					<%= image_tag @allTeams[@bracket.a1-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.a1-1].name %>
					<br/>vs<br/>
					<%= @allTeams[@bracket.b2-1].name %> <%= image_tag @allTeams[@bracket.b2-1].flag_url, :class => 'icon' %>
			</div>	
			<div class="well bracket well-sm bracket-text">
					<p> 1C vs 2D</p>
					<%= image_tag @allTeams[@bracket.c1-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.c1-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.d2-1].name %> <%= image_tag @allTeams[@bracket.d2-1].flag_url, :class => 'icon' %>
			</div>	
			<div class="well bracket well-sm bracket-text">
					<p> 1E vs 2F</p>
					<%= image_tag @allTeams[@bracket.e1-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.e1-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.f2-1].name %> <%= image_tag @allTeams[@bracket.f2-1].flag_url, :class => 'icon' %>
			</div>	
			<div class="well bracket well-sm bracket-text">
					<p> 1G vs 2H</p>
					<%= image_tag @allTeams[@bracket.g1-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.g1-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.h2-1].name %> <%= image_tag @allTeams[@bracket.h2-1].flag_url, :class => 'icon' %>
			</div>	
		</div>
		<div class='bracket-column qf' id="Quater-finals-1">
			<p class='column-title'>Quarter-Finals</p>
			<div class="bracket bracket-qf well well-sm bracket-text">
					<p> Quater-final</p>
					<%= image_tag @allTeams[@bracket.w49-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.w49-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.w50-1].name %> <%= image_tag @allTeams[@bracket.w50-1].flag_url, :class => 'icon' %>
			</div>
			<div class="bracket bracket-qf well well-sm bracket-text">
					<p> Quater-final</p>
					<%= image_tag @allTeams[@bracket.w53-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.w53-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.w54-1].name %> <%= image_tag @allTeams[@bracket.w54-1].flag_url, :class => 'icon' %>
			</div>
		</div>
		<div class='bracket-column sf' id="Semi-finals-1">
			<p class='column-title'>Semi-Finals</p>
			<div class="well bracket bracket-sf well-sm bracket-text">
					<p> Semi-final</p>
					<%= image_tag @allTeams[@bracket.w57-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.w57-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.w58-1].name %> <%= image_tag @allTeams[@bracket.w58-1].flag_url, :class => 'icon' %>
			</div>
		</div>
		<div class='bracket-column' id="Finals">
			<p class='column-title'>Final and<br/>Thrid Place</p>
			<div class="well bracket well-sm bracket-text">
				<h4>Champion</h4>
				<%= image_tag @allTeams[@bracket.champion-1].flag_url, :class => 'icon' %>
				<%= @allTeams[@bracket.champion-1].name %>
			</div>
			<div class="well bracket well-sm bracket-text">
					<p> Third Place</p>
					<%= image_tag @allTeams[@bracket.third-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.third-1].name %>
			</div>
			<div class="well bracket well-sm bracket-text">
					<p>Final</p>
					<%= image_tag @allTeams[@bracket.w61-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.w61-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.w62-1].name %> <%= image_tag @allTeams[@bracket.w62-1].flag_url, :class => 'icon' %>
			</div>
			<div class="well bracket  well-sm bracket-text">
					<p>Third Place</p>
					<%= image_tag @allTeams[@bracket.l61-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.l61-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.l62-1].name %> <%= image_tag @allTeams[@bracket.l62-1].flag_url, :class => 'icon' %>
			</div>
		</div>
		<div class='bracket-column sf' id="Semi-finals-2">
			<p class='column-title'>Semi-Finals</p>
			<div class="well bracket bracket-sf well-sm bracket-text">
					<p> Semi-final</p>
					<%= image_tag @allTeams[@bracket.w59-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.w59-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.w60-1].name %> <%= image_tag @allTeams[@bracket.w60-1].flag_url, :class => 'icon' %>
			</div>
		</div>
		<div class='bracket-column qf' id="Quater-finals-2">
			<p class='column-title'>Quarter-Finals</p>
			<div class="bracket bracket-qf well well-sm bracket-text">
					<p> Quater-final</p>
					<%= image_tag @allTeams[@bracket.w51-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.w51-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.w52-1].name %> <%= image_tag @allTeams[@bracket.w52-1].flag_url, :class => 'icon' %>
			</div>
			<div class="bracket bracket-qf well well-sm bracket-text">
					<p> Quater-final</p>
					<%= image_tag @allTeams[@bracket.w55-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.w55-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.w56-1].name %> <%= image_tag @allTeams[@bracket.w56-1].flag_url, :class => 'icon' %>
			</div>
		</div>
		<div class='bracket-column' id="Round16-2">
			<p class='column-title'>Round of 16</p>
			<div class="well bracket well-sm bracket-text">
					<p> 1B vs 2A</p>
					<%= image_tag @allTeams[@bracket.b1-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.b1-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.a2-1].name %> <%= image_tag @allTeams[@bracket.a2-1].flag_url, :class => 'icon' %>
			</div>	
			<div class="well bracket well-sm bracket-text">
					<p> 1D vs 2C</p>
					<%= image_tag @allTeams[@bracket.d1-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.d1-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.c2-1].name %> <%= image_tag @allTeams[@bracket.c2-1].flag_url, :class => 'icon' %>
			</div>	
			<div class="well bracket well-sm bracket-text">
					<p> 1F vs 2E</p><br/>
					<%= image_tag @allTeams[@bracket.f1-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.f1-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.e2-1].name %> <%= image_tag @allTeams[@bracket.e2-1].flag_url, :class => 'icon' %>
			</div>	
			<div class="well bracket well-sm bracket-text">
					<p> 1H vs 2G</p><br/>
					<%= image_tag @allTeams[@bracket.h1-1].flag_url, :class => 'icon' %> <%= @allTeams[@bracket.h1-1].name %>
				<br/>vs<br/>
					<%= @allTeams[@bracket.g2-1].name %> <%= image_tag @allTeams[@bracket.g2-1].flag_url, :class => 'icon' %>
			</div>	
		</div>
	</div>





