<div class='login-background'>
	<div id='login-container' class='dialog'>
		<h4 class='form-title'>Login</h4>
		<%= form_tag '/login' do %>
				<%= label_tag :email, nil, class: 'form-label' %>
				<%= text_field_tag :email, params[:email] || '', class: 'form-input', id: 'login-email' %>
			<div class='control-group'>
				<%= label_tag :password, nil, class: 'form-label' %>
				<%= password_field_tag :password, params[:password] || '', class: 'form-input', id:'login-password' %>
				<%= link_to 'Forgot Password?', recoverpassword_path, class: 'form-input' %>
			</div>
			<div class='control-group form-row'>
				<%= submit_tag "Login", class: 'btn-wcb-normal register-button', id: 'login-button' %>
			</div>
		<% end %>
	</div>
</div>

<script>
	$('#login-button').prop("disabled", true);
	$('.form-input').keyup(function(){
		if($('#login-email').val().length > 3 && $('#login-password').val().length > 3)
			$('#login-button').prop("disabled", false);
		else
			$('#login-button').prop("disabled", true);
	});

</script>