<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= link_to image_tag('logo.png', :width => '200px'), root_path, :class => 'brand', :id => 'logo' %>
    <br>
    <h4>Group Invitation</h4>
    <p>
      Hello, 

      <%= @user.first_name %> &nbsp <%= @user.last_name %> &nbsp invites you to join a private group TheWorldCupBracket.com!

      If you don't have an account yet, you can register for an account at www.theworldcupbracket.com. 

      <%= @user.first_name %> has created a private group. 

      The group name is <%= @group.group_name %>, the group Id is <%=@group.id %> and the passcode to join is <%= @group.passcode %>. 

      We hope you enjoy the game!
    </p>

  </body>
</html>