	<%= form_for @group do |f| %>	
		<div class='control-group form-row'>
			<%= f.label :group_name, class: 'form-label col-lg-2 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-4 col-xs-12' %>
			<%= f.text_field :group_name, class: 'form-input col-lg-3 col-md-4 col-sm-5 col-xs-10' %>
		</div>
		<div class='control-group form-row'>
			<%= f.label :passcode, class: 'form-label col-lg-2 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-4 col-xs-12' %> 
			<%= f.text_field :passcode, class: 'form-input col-lg-3 col-md-4 col-sm-5 col-xs-10' %>
		</div>
		<% if @group.new_record? %>
			<div class='control-group form-row'>
				<label for="screen_name" class= 'form-label col-lg-2 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-4 col-xs-12'>Your screen name for this group</label>
				<input type="text" name="screenname" id="screen_name" class='form-input col-lg-3 col-md-4 col-sm-5 col-xs-10'>
			</div>
		<% end %>
		<div class='control-group form-row'>
		<%= f.submit @group.new_record? ? "Create Group" : "Update Group", class: 'btn btn-success form-btn col-md-offset-4' %>
		</div>
	<% end %>
