<div class='login-background'>
			<div class="dialog">

				<%= form_for @user do |g| %>
					<%= render 'shared/display_errors', obj: @user %> 
					<div class='control-group form-row'>
						<h4>Enter your new Password</h4>
						<label class='form-label'>New Password</label>
						<%= g.password_field :password, class: 'form-input', id:'change-password' %><br>
						<h5 class='form-error off' id="error-change-password">Passwords must have at least 8 characters</h5>
						<input type="hidden" name="email" value=<%= @email %>>
						<input type="hidden" name="passcode" value=<%= @passcode %>>
					</div>
					<div class='control-group form-row'>
						<label class='form-label'>Re-type New Password</label>
						<input class='form-input' id="change-retype" type="password"></input><br>
						<h5 class='form-error off' id="error-change-retype">Passwords do not match</h5>
					</div>
					<br>
					<div class='center'>
					<%= g.submit @user.new_record? ? "Register" : "Update Password", class: 'btn-wcb-normal', id:'change-button' %>
					</div>
				<% end %>
			</div>
</div>

<script>
	$('#change-button').prop("disabled", true);
	
	$('.form-input').keyup(function(){
		if(change_passwords_match())
			$('#change-button').prop("disabled", false);
		else
			$('#change-button').prop("disabled", true);
	});

	$('#change-password').keyup(function(){
		if($(this).val().length<8)
			$('#error-change-password').show();
		else 
			$('#error-change-password').hide();
		
		if($('#change-retype').val().length > 0)
			if($(this).val() != $('#change-retype').val())
				$('#error-change-retype').show();
			else 
				$('#error-change-retype').hide();
	});

	$('#change-retype').keyup(function(){
		if($(this).val() != $('#change-password').val())
			$('#error-change-retype').show();
		else 
			$('#error-change-retype').hide();
	});

 	function change_passwords_match(){
 		return (($('#change-password').val().length > 7) && ($('#change-retype')).val() == $('#change-password').val())
 	};

 	function old_and_new_passwords_same(){
 		return ($('#change-oldpassword').val() == $('#change-password').val());
 	}

</script>