<% if logged_in? %>
	<% if is_admin? && admin_view?%>
		<nav class="second-navbar" role="navigation">
				<ul class="nav">
				  <li>
				    <%= link_to 'Info', admininfo_path if logged_in? %>
				  </li>
				  <li>
				    <%= link_to 'Register Attempts', registerattempts_path if logged_in? %>
				  </li>
				  <li>
				    <%= link_to 'Users', usersearch_path if logged_in? %>
				  </li>
				  <li>
				  	<%= link_to 'Teams', teamindex_path if logged_in? %>
				  </li>
				  <li>
				  	<%= link_to 'Groups', stats_path if logged_in? %>
				  </li>
				  <li>
				  	<%= link_to 'Brackets', stats_path if logged_in? %>
				  </li>
				</ul>
			</nav>
	<% else %> 
		<nav class="second-navbar" role="navigation">
			<ul class="nav">
			  <li>
			    <%= link_to 'My Bracket', bracket_path(current_user.slug) if logged_in? %>
			  </li>
			  <li>
			  	<%= link_to 'My Groups', groups_path if logged_in? %>
			  </li>
			  <li>
			  	<%= link_to 'Rules', rules_path if logged_in? %>
			  </li>
			  <li>
			  	<%= link_to 'Team Statistics', stats_path if logged_in? %>
			  </li>
			</ul>
		</nav>
	<% end %>
<% end %>